{% extends "app/base.html" %}

{% block content %}

    <!-- begin:header -->
    <section id="header" class="heading" style="background: url({{ STATIC_URL }}app/img/img01.jpg); margin-top: -25px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-desc">
                    <h2>The Nuts and Bolts of ouR-V</h2>
                    <p>Here's Everything you need to know about Posting and Renting on ouRV</p>

                    <form id="search" class="navbar-form search" role="search">
                        <input type="search" class="form-control input-lg" placeholder="Search for Question">
                        <button type="submit" class="btn btn-info btn-search"><i class="fa fa-arrow-right"></i></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
    <!-- end:header -->

    <!-- begin:content -->
    <section id="content">
    <div class="container">
        <div class="row">
            <!-- begin:article -->
            <div class="col-md-6">

                <div class="row post-single">

                    <div class="col-md-12">
                        <div class="heading-title">
                            <h2><a href="single.html">Everyday is holiday</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><em>By <a href="#">tarjono</a></em></span>
                            <span><em>On May 04, 2014</em></span>
                            <span><em>In <a href="#">Love life</a></em></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <hr><br><br>
                <!-- break -->
                                <div class="row post-single">

                    <div class="col-md-12">
                        <div class="heading-title">
                            <h2><a href="single.html">Everyday is holiday</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><em>By <a href="#">tarjono</a></em></span>
                            <span><em>On May 04, 2014</em></span>
                            <span><em>In <a href="#">Love life</a></em></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <hr><br><br>
                <!-- break -->
                                <div class="row post-single">

                    <div class="col-md-12">
                        <div class="heading-title">
                            <h2><a href="single.html">Everyday is holiday</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><em>By <a href="#">tarjono</a></em></span>
                            <span><em>On May 04, 2014</em></span>
                            <span><em>In <a href="#">Love life</a></em></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <hr><br><br>
                <!-- break -->

            </div>

            <!-- end:article -->


            <div class="col-md-6">

                                <div class="row post-single">

                    <div class="col-md-12">
                        <div class="heading-title">
                            <h2><a href="single.html">Everyday is holiday</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><em>By <a href="#">tarjono</a></em></span>
                            <span><em>On May 04, 2014</em></span>
                            <span><em>In <a href="#">Love life</a></em></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <hr><br><br>
                <!-- break -->
                                <div class="row post-single">

                    <div class="col-md-12">
                        <div class="heading-title">
                            <h2><a href="single.html">Everyday is holiday</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><em>By <a href="#">tarjono</a></em></span>
                            <span><em>On May 04, 2014</em></span>
                            <span><em>In <a href="#">Love life</a></em></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <hr><br><br>
                <!-- break -->
                                <div class="row post-single">

                    <div class="col-md-12">
                        <div class="heading-title">
                            <h2><a href="single.html">Everyday is holiday</a></h2>
                        </div>
                        <div class="post-meta">
                            <span><em>By <a href="#">tarjono</a></em></span>
                            <span><em>On May 04, 2014</em></span>
                            <span><em>In <a href="#">Love life</a></em></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <hr><br><br>
                <!-- break -->

            </div>
        

        </div>
    </div>
</section>
    <!-- end:content -->

    <!-- begin:partner -->
    <section id="partner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled brand-img">
                      <li>
                        <a href="#"><img src="{{ STATIC_URL }}app/img/partner01.png"></a>
                      </li>
                      <li>
                        <a href="#"><img src="{{ STATIC_URL }}app/img/partner02.png"></a>
                      </li>
                      <li>
                        <a href="#"><img src="{{ STATIC_URL }}app/img/partner01.png"></a>
                      </li>
                      <li>
                        <a href="#"><img src="{{ STATIC_URL }}app/img/partner02.png"></a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end:partner -->

{% endblock %}